<h4 style="margin-top: 15px">{{ traveler }}</h4>

<h5>Traveler's details</h5>
<form>
  <div class="row">
    <div class="six columns">
       <label for="idInput">ID</label>
       <input class="u-full-width" id="_id" type="text" value="{{ _id }}" readonly/>
    </div>
    <div class="six columns">
       <label for="nameInput">Country</label>
       <input class="u-full-width" id="name" type="text" value="{{ name }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for="countryInput">Founded</label>
       <input class="u-full-width" id="country" type="text" value="{{ country }}"  readonly/>
    </div>
    <div class="six columns">
       <label for="sexInput">Genere</label>
       <input class="u-full-width" id="sex" type="text" value="{{ sex  }}"  readonly/>
    </div>
  </div>
</form>

<h5>Flights</h5>
<ul>
{{#flights}}
  <li><a href="https://flights-minisite.netlify.app/get?id={{flight_id}}">{{title}}</li>
{{/flights}}
</ul>
